$size: 44px;
.navbar {
  position: fixed;
  left: 0;
  bottom: 0;

  margin-bottom: 2rem;
  margin-left: 2rem;

  height: $size;
  width: auto;
  display: flex;

  overflow: hidden;
  z-index: 10;

  &__icon {
    color: white;
    background-color: #353753;
    border-radius: calc(#{$size} / 2);
    width: $size;
    display: inline-block;
    line-height: $size;
    text-align: center;
    transition: 0.4s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    z-index: 19999;
    user-select: none; /* Standard */

    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__container {
    display: flex;
    position: relative;
    transition: 0.4s ease-in-out;
    z-index: -1;
    left: 0px;
    margin-left: 2rem;
    opacity: 1;
    &--shrinked {
      left: -1000px;
      background-color: #353753;
      opacity: 0;
    }

    &__item {
      position: relative;
      min-width: calc(#{$size} + 100px);
      line-height: $size;
      text-align: center;
      background-color: #353753;
      color: white;
      margin-right: 1rem;
      border-radius: calc(#{$size} / 2);
      span {
        margin-left: calc(#{$size + 10px});
      }

      &--active {
        background-color: #1c1e30;
      }

      &:hover {
        background-color: #626696;
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

a {
  text-decoration: none;
}
